/* 
Name : Finnz
Ver:   1.0

AUTH
*/

:root{
    /*  */
    --app-color:       linear-gradient(120deg, #b4b4b4 0%, #b7b7b7 31%, #979797 92%, #808080 100%);
    --title:           #767676;
    --title-hover:     #626262;
    --warning:         #CF3434;
}
body{
    background: var(--app-color);
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.cet-titlebar{
    width: fill;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    -webkit-app-region: drag;
    padding: 0 0 0 8px;
}
.cet-window-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    -webkit-app-region: no-drag;
    margin: 0 0 0 auto;
}
.cet-control-icon{
    height: 100%;  
    width: 50px;
    padding: 0 13%;
    z-index: 100;
    display: flex;
    align-items: center;
}
.cet-control-icon:hover{
    background-color: var(--title-hover);
}
.cet-control-close:hover{
    background-color: var(--warning);
}
.cet-menubar{
    display: none;
}
.cet-icon{
    height: 60%;
    margin: auto 0;
}
.cet-icon > img{
    height: 100%;
}
.app_container{
    background: url('../img/background-noise-effect.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh);
    margin: 0;
}
.decorative-content-zone{
    height: 90%;
    aspect-ratio: 1.055480378890392/1;
    margin-top: -6%;
    /* background-color: #CF3434; */
    aspect-ratio: 1.055480378890392/1;
    background: url('../img/inner-bg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}